@layout.emailMaster({title: "Password Changed Successfully"})
  @slot('content')
    <mj-section background-color="#fff" padding="48px">
      <mj-column padding="0">
        <mj-text font-size="24px" line-height="1.5" padding="0px" font-weight="bold">
          Hi {{ data?.fullName ?? '' }},
        </mj-text>
        <mj-spacer height="16px"></mj-spacer>
        <mj-text font-size="16px" line-height="1.5" padding="0px">
          Your password has been reset successfully.
        </mj-text>
        <mj-spacer height="24px"></mj-spacer>
      </mj-column>
    </mj-section>
  @endslot
@end
