@layout.emailMaster({title: "Forgot Password Code"})
  @slot('content')
    <mj-section background-color="#fff" padding="48px">
      <mj-column padding="0">
        <mj-text font-size="24px" line-height="1.5" padding="0px" font-weight="bold">
          Hi {{ data?.user?.fullName ?? '' }},
        </mj-text>
        <mj-spacer height="16px"></mj-spacer>
        <mj-text font-size="16px" line-height="1.5" padding="0px">
          Here's your password reset code. Enter this code in the Tickly app to reset your password:
        </mj-text>
        <mj-spacer height="24px"></mj-spacer>
        <mj-section background-color="#E7F1F3" padding="20px">
          <mj-column>
            <mj-text font-size="28px" font-weight="bold" align="center" letter-spacing="6px" color="#0D4680" padding="0px">
              {{ data?.userVerification?.verificationCode }}
            </mj-text>
          </mj-column>
        </mj-section>
        <mj-spacer height="24px"></mj-spacer>
        <mj-text font-size="14px" line-height="1.5" padding="0px" color="#5C5C5C">
          If you didn't request this change, you can safely ignore this email.
        </mj-text>
        <mj-spacer height="8px"></mj-spacer>
      </mj-column>
    </mj-section>
  @endslot
@end
